@import '../../colors.scss';

.page-content {
    @media only screen and (max-width: 900px) {
        margin-left: 12px;
        margin-right: 12px;
    }

    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 68px;
    margin-right: 68px;
    max-width: 100%;

    &-link {
        color: $link;
    }

    &-text {
        font-size: 18px;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 42px;
            color: $title;
        }
    }
}
