@import '../../colors.scss';

.nav-bar {
	display: flex;
	width: 100%;
	background-color: white;
	border-bottom: 2px lightgray solid;
	height: 70px;
}

.logo {
	display: flex;
	align-items: center;

	img {
		width: 96px;
		height: 96px;
	}

	p {
		font-size: 24px;
	}
}

.items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-right: 24px;

	.burguer-btn {
		@media only screen and (max-width: 900px) {
			display: block;
		}

		display: none;
		cursor: pointer;
	}

	ul {
		@media only screen and (max-width: 900px) {
			display: none;
		}

		display: flex;
		gap: 24px;
	}

	li {
		list-style: none;

		a {
			text-decoration: none;
			color: black;
			transition: 1s;

			&::after {
				content: '';
				width: 0px;
				height: 1px;
				display: block;
				background: black;
				transition: 200ms;
				margin: auto;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}

.vertical-nav-bar {
	display: none;

	@media only screen and (max-width: 900px) {
		display: block;
	}

	ul {
		text-align: center;

		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		color: $link;
	}
}
