footer {
    display: flex;
    height: 160px;
    margin-top: 24px;
    padding: 24px;
    border-top: lightgray solid 1px;
    justify-content: space-around;
    align-items: center;

    .ifrs-logo {
        img {
            height: 96px;
        }
    }

    .channels {
        display: flex;
        gap: 24px;

        p {
            font-size: 18px;
        }
    }
}