@font-face {
    font-family: RedHeadDisplay;
    src: url('./resources/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    font-family: RedHeadDisplay, sans-serif;
    width: 100vw;
    max-width: 100%;
}