@font-face {
    font-family: RedHeadDisplay;
    src: url('./resources/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: RedHeadDisplay, sans-serif;
}